<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%- title %></title>
        <link rel="stylesheet" href="/css/test.css">
        <!-- <script src="/js/socket.io.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script> -->
        <script src="/js/socket.io.js"></script>
    </head>
    <body>
        <ul id="messages"></ul>
        <form action="">
            <input id="m" autocomplete="off" /><button>Send</button>
        </form>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script>
            getLocation = function(callback){
                navigator.geolocation.getCurrentPosition(function(position){
                        x = position.coords.latitude, y = position.coords.longitude;
                        // $('#messages').append($('<li>').text(x));
                        // $('#messages').append($('<li>').text(y));
                        callback(x, y);
                    }, function(error){
                        console.error(error);
                    }, {
                        enableHighAccuracy: false,
                        maximumAge: 0,
                        timeout: Infinity
                    });
            }
            
            if(navigator.geolocation){ // GPS 지원시
                $(() => {
                    var socket = io();
                    var coordinate;
                    setInterval(() => {
                        getLocation(function(x,y){
                            coordinate = [x,y];
                        });
                        $('#messages').append($('<li>').text(coordinate[0]));
                        socket.emit('now coordinate', [coordinate[0], coordinate[1]]); // 위도, 경도
                    }, 1000);
                    socket.on('warning', (msg) => {
                        $('#messages').append($('<li>').text(msg));
                    });
            });
            } else {
                alert('GPS를 켜주세요');
            }
            
        </script>
    </body>
</html>