@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap');

body {
    background: black;
}

.HUD_act {
    font-family: Orbitron;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    /* font-family: Orbitron; */
    letter-spacing: 7px;

}
.HUD_km {
    font-family: Orbitron;
    position: absolute;
    top: 57%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    /* font-family: Orbitron; */
    letter-spacing: 7px;

}
.HUD_notice {
    font-family: Orbitron;
    position: absolute;
    top: 57%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 50px;
    /* font-family: Orbitron; */
    letter-spacing: 7px;

}
